
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Noto+Sans&family=Quicksand:wght@300;400;500;600;700&display=swap');
/* Aggiungi questo stile al tuo file CSS o App.js */



@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes appearFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Add media query to handle screen size */
@media (max-width: 1023px) {
  .logo-appear {
    animation: appearFromTop 1.5s ease;
  }
}

@media (min-width: 1024px) {
  .logo-appear {
    animation: appearFromLeft 1.5s ease;
  }
}




